html{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.backgrounds{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    min-height: 150px;
    min-width: 150px;
}

.bg-color{
    background-color: rgb(255, 0, 25);
}

.bg-image{
    color: mediumorchid;
    background-image: url(../img/jeremy-bishop-4S-7o5Z4OMk-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-gradient{
    background: linear-gradient(217deg, rgba(35, 241, 3, 0.8), rgba(114, 83, 229, 0.679) 70.71%)
}

h1{
    text-align: center;
}

p{
    margin-bottom: auto;
}