html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 62.2%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
}

fieldset{
    border: none 
    max-width: 550px;
}

section{
    width: 450px;
    padding: 50px 50px 5px 50px;
}


.kontaktformular{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.namen{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.namen input{
    width: 48%;
    box-sizing: border-box;
}

span{
    color: red;
}

.nachricht-textfeld{
    background-color: aliceblue;
    width: 400px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

.submit{
    width: 400px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 5px;
    background-color: rgb(3, 86, 160);
    text-align: center;
}

input[type="submit"]{
    border: none;
    color: lightgray;
    background: none;
    cursor: pointer;
}