/* - Füge ein Hintergrundbild über CSS ein, dieses soll zentriert sein, sich nicht wiederholen und sich über die komplette Seite erstrecken.

Irgendwas stimmt nicht, es doppelt sich trotzdem. Größe des Fotos?
*/

section{
    background-image: url(../img/desert.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}