*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.pets{
    border: 2px solid;
    margin: 10px;
    padding: 20px;
    font-size: 2rem;
}

ul{
    padding-inline-start: 1.2em;
    list-style: none;
}

li{
    line-height: 1.5em;
    font-size: 0.8em;
}

.dog li::marker{
    content: "🐶";	
}

.cat li::marker{
    content: "🐈";	
}

.parrot li::marker{
    content: "🦜";
}

.snake li::marker{
    content: "🐍"; 
}

.lizzard li::marker{ 
    content: "🦎";
}