*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

p {
    background-color: turquoise;
    width: 360px;
    padding: 25px;
    border: 25px solid black;
    margin: 25px auto;    
}

/*Warum ist es immer noch hochkant und nicht quer wie in der Aufgabenstellung? Was muss ich noch angeben? Antwort: width hatte nur 200px, zu wenig, daher dehnt sich Inhalt nach unten statt in die Breite, also width Pixelgröße erhöhen*/ 
