@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: "Poppins";
} 

body{
    height: 100vh;
    background-image: url("../img/mount-everest.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: blue;
    background-size: cover;
}

.everest-container{
    position: relative;
    right: 25em;
    top: 25em;
    color: whitesmoke;
    text-align: right;
}

h1 {
    font-size: 2.6rem;
}

p{
    font-size: 1.6rem;
    margin-top: 1em;
}

