/*-------------------------general styling-----------------*/
@font-face {
    font-family: "monoton";
    src: url(../fonts/Monoton-Regular.ttf);
}

@font-face {
    font-family: "ubuntu";
    src: url(../fonts/Ubuntu-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

body{
    height: 100vh;
    background-color: var(--color-black);
    /* width: 100vw;    */
}

:root{
    --color-black: #070707;
    --color-greige: #9d9f9f;
    --color-rose-brown: #f4f7f8;
    --color-light-brown: #AC8059;
}

/*-----------styling header / navigation bar  --------------- */
.navbar{
    display: flex;  
    padding: 20px;
    gap: 0 2em;
    justify-content: space-between;
    scroll-behavior: smooth;
}

.nav-left{
    padding: 0 10px;
    width: 30em;
    display: flex;
    align-items: center;
    gap: 5em;
}

.nav-right{
    width: 90em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 9em;
    padding-right: 5em;
}

.m-logo{
    font-family: "monoton";
    font-size: 3.3rem;
}

a{
    font-family: "ubuntu";
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--color-greige);
}

a:hover{
    color: var(--color-rose-brown);
    transition: 0.4s;
}

.hr-nav{
    border: 1px solid var(--color-greige);   
}

/*----------- main part: headline + 3 photos ------------------ */
.main-part{
    background-color: var(--color-black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 50em;
    gap: 25em;
}

.text-description{
    display: flex;
    flex-direction: column;
    height: 50vh;
    position: relative;
    left: 70px;
}

h1{
    font-size: 4rem;
    color: var(--color-greige);
    font-family: "ubuntu"; 
    margin-bottom: 1em; 
    width: 30vh;  
}

.images-container{
    display: flex;
    column-gap: 4.3em;
}

/*----------- footer ------------------ */