*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav ul{
    list-style: none;
    background-color: goldenrod;
    padding: 5px 0px 5px 40px;
    color: red;
}

nav a, 
p span{
    color: red;
}

body{
    background-color: lightgray;
}

h1{
    padding: 15px 0px 15px 10px;
    color: black;
}

main p{
    padding: 5px 0px 5px 10px;
}

img{
    margin-left: 10px;
}


