/*
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*/

nav ul{
    list-style: none;
    background-color: goldenrod;
    color: red;
}

nav a, 
p span{
    color: red;
}

h1{
    color: black;
}

body{
    background-color: lightgray;
}