*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

/* wegen default font-size = 16px gebe ich in html{} 10px als Richtwert an...*/

h1{
    border: black, 2px, dashed;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

p{
    border: orange, 2px, solid;
    text-align: center; 
    color: violet; 
    width: 400px; 
    margin: 10px auto;
    padding: 10px;  
}

p::first-letter {
    font-size: 20px;
}

p:hover::first-letter {
    font-size: 35px;
    color:brown;
}

h2{
    width: 250px;
    /*width vergrößern, um Zeilenumbruch zu vermeiden*/
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    /*box-shadow an 3 Werte denken. Reminder: border ist per default da, wenn auch nicht sichtbar*/
    font-size: 15px; 
    text-align: center;
    /*text-align nur text, nicht box*/ 
    margin: 15px auto;
}

ol, ul{
    width: 380px;
    padding: 15px 20px;
    margin: 20px auto;
    border: dashed;
    border-color: green;
    text-align:left; 
}

li{
    border-bottom: 1px solid green;
    font-size: 15px;
}

h3{
    width: 180px;
    padding: 10px;
    margin: auto;
    border: double;
    border-color: greenyellow;
    border-radius: 10px;
    border-width: 10px;
    text-align: center; 
}