*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bild1{
    width: 400px;
}

.bild2{
    width: 50%;
}

.bild3{
    width: 20em;
}

.bild4{
    width: 40rem;
}

.bild5{
    width: 35vw;
}

.bild6{
    width: 75vh;
}